* {
    font-family: 'Roboto', sans-serif;
}

.add-comment-username-txt {
    padding-top: 10px;
    font-weight: 500;
}
.comments-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5px;
}

.edit-comment-button {
    line-height: 18px;
    box-sizing: border-box;
    cursor: pointer;
    /* display: block;
    display: flex;
    flex-direction: row; */
    font-size: 12px;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin: auto;
    /* text-align: center; */
    width: auto;
    background-color: rgb(180,180,180);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

.delete-comment-button {
    line-height: 18px;
    box-sizing: border-box;
    cursor: pointer;
    /* display: block;
    display: flex;
    flex-direction: row; */
    font-size: 12px;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin: auto;
    /* text-align: center; */
    width: auto;
    background-color: rgb(180,180,180);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    margin-bottom: 20px;
}