* {
    font-family: 'Roboto', sans-serif;
}

.Modal{
    overflow: hidden;
    border-radius: 12px;
}

.errors {
    color: red;
}
.add-comment-main-container {
    margin: auto;
    width: 400px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}
.add-comment-sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-comment-div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .add-comment-div-container {
    display: flex;
    flex-direction: column; */
    /* margin-left: 30%; */
    /* padding-top: 10px; */
    /* justify-content: center; */
    /* align-items: center;
} */
.add-comment-create-new-comment-text {
    font-size: 18px;
    font-weight: 500;
}
/* .add-post-label-caption {
    width: 50px;
    height: 30px;
    padding-top: 20px;
} */

.add-comment-button-div {
    border-top: 1px solid rgb(214,214,214);
}
.add-comment-form {
    display: flex;
    flex-direction: column;
}
#add-comment-label {
    width: 190px;
    height: 80px;
    resize: none;
}