* {
    color: black;
}
.home-main-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.home-posts-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
