* {
    color: black;
}
.home-main-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background-color: rgb(250, 250, 250);
}

.home-posts-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
