* {
    font-family: 'Roboto', sans-serif;
}

.Modal{
    overflow: hidden;
    border-radius: 12px;
}

.errors {
    color: red;
}
.edit-comment-main-container {
    margin: auto;
    border-radius: 10px;
    margin: auto;
    width: 400px;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-comment-sub-container {
    align-items: center;
    display: flex;
    flex-direction: column;

}
.edit-comment-div-container {
    display: flex;
    flex-direction: column;
    /* margin-left: 30%; */
    /* padding-top: 10px; */
    /* justify-content: center; */
    align-items: center;
}
.edit-comment-edit-comment-text {
    font-size: 18px;

}
#edit-comment-label-caption {
    width: 190px;
    height: 80px;
    resize: none;
}
.edit-comment-form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.edit-comment-label-div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* .edit-comment-label-div {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.edit-comment-create-div {
    align-items: center;
    display: flex;
    /* flex-direction: column; */
}

.edit-comment-comment {
    align-items: center;
    display: flex;
    flex-direction: column;
}