* {
    font-family: 'Roboto', sans-serif;
}

.navbar-main-container {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(214,214,214);
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    height: 85px;
}

.navbar-sub-container {
    display: flexbox;
    flex-direction: row;
    justify-content: space-around;
}
.create-post {
    font-size: 14px;
}


.nav-logo-div {
    width: 100%;
    list-style-type: none;
    margin-top: 15px; 
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-logo {
    font-family: 'Cookie', cursive;
    font-size: 40px;
    text-decoration-color: #8c5638;
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    text-shadow: 1.5px 1.5px  1px #cab19b;
    color: rgb(34,34,34);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-li {
    text-decoration: none;
    cursor: pointer;
    float: right;
    padding-top: 8px;
    border-bottom: none;
    
}
.user-btn {
    border: none;
    font-size: 25px;
    font-weight: 2000;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 0px;
    border-radius: 4px;
}

.nav-user {
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
    border: 1px solid #8c5638;
    box-shadow: 2px 2px 4px #cab19b;
    margin-left: 30px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.add-post-button {
    background-color: rgb(240, 240, 240);
    border: 1px solid #8c5638;
    box-shadow: 2px 2px 4px #cab19b;
    margin-left: 30px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 2000;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logout-button {
    background-color: rgb(240, 240, 240);
    border: 1px solid #8c5638;
    margin-left: 30px;
    box-shadow: 2px 2px 4px #cab19b;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 2000;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.navbar-left-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.navbar-right-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


